name: Deploy  PMA Client NextJS application

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Source
        uses: actions/checkout@v4
      - name: Create .env file
        env:
          DATABASE_URL: ${{ secrets.DATABASE_URL }}
          PMA_BACKEND_API_URL: ${{ secrets.PMA_BACKEND_API_URL }}
          REVALIDATE_TOKEN: ${{ secrets.REVALIDATE_TOKEN }}
          GOOGLE_CLIENT_SECRET: ${{ secrets.GOOGLE_CLIENT_SECRET }}
          GOOGLE_CLIENT_ID: ${{ secrets.GOOGLE_CLIENT_ID }}
          BETTER_AUTH_URL: ${{ secrets.BETTER_AUTH_URL }}
          BETTER_AUTH_SECRET: ${{ secrets.BETTER_AUTH_SECRET }}
          DB_HOST: ${{ secrets.DB_HOST }}
          DB_PORT: ${{ secrets.DB_PORT }}
          DB_USER: ${{ secrets.DB_USER }}
          DB_PASSWORD: ${{ secrets.DB_PASSWORD }}
          DB_NAME: ${{ secrets.DB_NAME }}
        run: |
          env | grep -E '^(DATABASE_URL|PMA_BACKEND_API_URL|REVALIDATE_TOKEN|GOOGLE_CLIENT_SECRET|GOOGLE_CLIENT_ID|BETTER_AUTH_URL|BETTER_AUTH_SECRET|DB_HOST|DB_PORT|DB_USER|DB_PASSWORD|DB_NAME)=' > .env
      - name: Build docker image
        run: |
          docker build \
            --build-arg DATABASE_URL=${{ secrets.DATABASE_URL }} \
            --build-arg PMA_BACKEND_API_URL=${{ secrets.PMA_BACKEND_API_URL }} \
            --build-arg REVALIDATE_TOKEN=${{ secrets.REVALIDATE_TOKEN }} \
            --build-arg GOOGLE_CLIENT_SECRET=${{ secrets.GOOGLE_CLIENT_SECRET }} \
            --build-arg GOOGLE_CLIENT_ID=${{ secrets.GOOGLE_CLIENT_ID }} \
            --build-arg BETTER_AUTH_URL=${{ secrets.BETTER_AUTH_URL }} \
            --build-arg BETTER_AUTH_SECRET=${{ secrets.BETTER_AUTH_SECRET }} \
            --build-arg DB_HOST=${{ secrets.DB_HOST }} \
            --build-arg DB_PORT=${{ secrets.DB_PORT }} \
            --build-arg DB_USER=${{ secrets.DB_USER }} \
            --build-arg DB_PASSWORD=${{ secrets.DB_PASSWORD }} \
            --build-arg DB_NAME=${{ secrets.DB_NAME }} \
            -t rahulshah10/ecommerce_next_app_2026 .
      - name: Login to docker hub
        run: docker login -u ${{ secrets.DOCKER_USERNAME }} -p ${{ secrets.DOCKER_PASSWORD }}
      - name: Publish image to docker hub
        run: docker push rahulshah10/ecommerce_next_app_2026:latest

  deploy:
    needs: build
    runs-on: self-hosted
    steps:
      - name: Pull image from docker hub
        run: docker pull rahulshah10/ecommerce_next_app_2026:latest
      - name: Delete old container
        run: docker rm -f ecommerce_next_app_2026-container
      - name: Run docker container
        run: docker run -d -p 3000:3000 --name ecommerce_next_app_2026-container rahulshah10/ecommerce_next_app_2026:latest
